@{
    ViewBag.Title = "Сова";
}

<div class="jumbotron">

<div >


<div id="my-carousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my-carousel" data-slide-to="1"></li>
    <li data-target="#my-carousel" data-slide-to="2"></li>
    <li data-target="#my-carousel" data-slide-to="3"></li>
    <li data-target="#my-carousel" data-slide-to="4"></li>
    <li data-target="#my-carousel" data-slide-to="5"></li>
    <li data-target="#my-carousel" data-slide-to="6"></li>
    <li data-target="#my-carousel" data-slide-to="7"></li>
    <li data-target="#my-carousel" data-slide-to="8"></li>
    <li data-target="#my-carousel" data-slide-to="9"></li>
    <li data-target="#my-carousel" data-slide-to="10"></li>
    <li data-target="#my-carousel" data-slide-to="11"></li>
    <li data-target="#my-carousel" data-slide-to="12"></li>
    <li data-target="#my-carousel" data-slide-to="13"></li>
    <li data-target="#my-carousel" data-slide-to="14"></li>
    <li data-target="#my-carousel" data-slide-to="15"></li>
    <li data-target="#my-carousel" data-slide-to="16"></li>
    <li data-target="#my-carousel" data-slide-to="17"></li>
    <li data-target="#my-carousel" data-slide-to="18"></li>
    <li data-target="#my-carousel" data-slide-to="19"></li>
    <li data-target="#my-carousel" data-slide-to="21"></li>
    <li data-target="#my-carousel" data-slide-to="22"></li>
    <li data-target="#my-carousel" data-slide-to="23"></li>
    <li data-target="#my-carousel" data-slide-to="24"></li>
    <li data-target="#my-carousel" data-slide-to="25"></li>
    <li data-target="#my-carousel" data-slide-to="26"></li>
    <li data-target="#my-carousel" data-slide-to="27"></li>
    <li data-target="#my-carousel" data-slide-to="28"></li>
    <li data-target="#my-carousel" data-slide-to="29"></li>

</ol>
<div class="carousel-inner">
<div class="item active">
    <img alt="First slide" src="~/Content/images/1.PNG">
    <div class="carousel-caption">
        <h3>Система видео-конференц-связи"СОВА"</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/4.PNG">
    <div class="carousel-caption">
        <h3>Общие сведения</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/5.PNG">
    <div class="carousel-caption">
        <h3>Уникальное решение ВКС "СОВА"</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/7.PNG">
    <div class="carousel-caption">
        <h3>Приходилось ли вам испытывать следующие сложности?</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/8.PNG">
    <div class="carousel-caption">
        <h3>СОВА решает: </h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/9.PNG">
    <div class="carousel-caption">
        <h3>СОВА сохраняет ваши инвестиции</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/10.PNG">
    <div class="carousel-caption">
        <h3>Первые в мире!!!</h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/11.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/12.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/13.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/14.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/15.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/16.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/17.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/18.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/19.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/20.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/21.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/22.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/23.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/24.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/25.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/26.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/27.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/28.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/29.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/30.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/31.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Third slide" src="~/Content/images/32.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>
<div class="item">
    <img alt="Second slide" src="~/Content/images/33.PNG">
    <div class="carousel-caption">
        <h3></h3>
        <p></p>
    </div>
</div>

</div>
<a class="left carousel-control" href="#my-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#my-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

</div>
</div>
<style>
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators {
    bottom: -50px;
}
</style>